.App {
    text-align: center;
}

.recentItem {
    border: solid black 1px;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    transition: margin-left .5s;
    cursor: pointer;
}

.recentItem:hover {
    margin-left: 10px;
    text-decoration: underline;
}

.editLeft {
    height: 100%;
}
.editMain {
    height: 100%;
}

#codeArea {
    border: 1px solid grey;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
}

#codeArea div {
    padding-left: 0px;
}

#statsArea {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 10px;
}