.App {
    text-align: center;
}

.recentItem {
    border: solid black 1px;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    transition: margin-left .5s, background-color .5s;
    cursor: pointer;
    user-select: none;
}

.recentItem:hover {
    background-color: #17a2b8;
    margin-left: 10px;
    border: 1px solid #17a2b8;
    color: white;
    user-select: none;
}

.currentItem {
    border: solid #17a2b8 1px;
    background-color: #17a2b8;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    transition: margin-left .5s;
    cursor: pointer;
    color: white;
    user-select: none;
}

.currentItem:hover {
    margin-left: 10px;
    user-select: none;
}

.editLeft {
    height: 100%;
}
.editMain {
    height: 100%;
}

#codeArea {
    border: 1px solid grey;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
}

#codeArea div {
    padding-left: 0px;
}

#statsArea {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 10px;
}